[init]
	templatedir = ~/.git_template
	defaultBranch = master
[user]
	email = brendan.m.collins@outlook.com
	name = collinb9
[pull]
	rebase = true
[core]
	editor = nvim
	pager = less
[color]
	ui = auto
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
