# Swap files
*.swp
*.swn
*.swo

# vim plugins
pack
*.netrwhist
plugged/
.luarc.json
plugin/

# ranger plugins
plugins/

# virtual environment
venv/

# python
.python-version

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ai
.claude
.pi/agent/bin/
.pi/agent/sessions
auth.json
