# Swap files
*.swp
*.swn
*.swo

# vim plugins
pack
*.netrwhist
plugged/
.luarc.json
plugin/

# ranger plugins
plugins/
!.config/nvim/lua/plugins

# virtual environment
venv/

# python
.python-version

# node
node_modules/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ai
.claude
.pi/agent/bin/
.pi/agent/sessions
.pi/agent/git
auth.json
.pi/logs/
auth.json
.omp/logs/
.omp/agent/
!.omp/agent/extensions/
