# Swap files
*.swp
*.swn
*.swo

# vim plugins
pack
*.netrwhist
plugged/
.luarc.json
plugin/

# ranger plugins
plugins/
!.config/nvim/lua/plugins

# virtual environment
venv/

# python
.python-version

# node
node_modules/

#env vars
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# uv
uv-receipt.json
uv.toml

# ai
.claude/backups/
.claude/tasks/
.claude/.credentials.json
.claude/policy-limits.json
.claude/cache/
.claude/downloads/
.claude/file-history/
.claude/plans/
.claude/plugins/
.claude/projects/
.claude/session-env/
.claude/sessions/
.claude/shell-snapshots/
.claude/skills
.claude/transcripts/
.claude/history.jsonl
.claude/mcp-needs-auth-cache.json
.agents/skills/*
!.agents/skills/tech-digest

.pi/agent/bin/
.pi/agent/sessions
.pi/agent/git
auth.json
.pi/logs/
auth.json
.omp/logs/
.omp/agent/sessions
.omp/agent/terminal-sessions
.omp/agent/*.db*
.omp/agent/search-db

# setup config
config/user.conf
