### My python snippets ###

# Unittest
snippet "import unittest" "unittest template" b
import unittest
from unittest.mock import patch

class ${1:Class}(unittest.TestCase):
	""" tests """


if __name__=="__main__":
	pass
endsnippet

snippet :t ":type: docstring"
:type ${1:type}:
endsnippet

snippet hello 
print("hello world")
endsnippet
